@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primarycolor: rgb(163, 199, 219);
    --secondarycolor: ;
    --accentcolor: ;
    --textcolor: rgb(80, 80, 163);
}

html, body {
    position: relative;
    scroll-behavior: smooth;
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.mobile-header {
    display: none;
}

.outermost-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .leftsidebar-container {
        background: white;
        position: fixed;
        border-right: 1px solid var(--textcolor);
        width: 150px;
        height: 100%;
        z-index: 999;

        ul {
            padding-top: 0;
        }

        a {
            text-decoration: none;
            color: var(--textcolor);
            font-weight: bold;
            font-size: 1.25em;
        }

        li {
            list-style-type: none;
            padding-top: .25em;
        }
    }

    .maincontent-container {
        display: block;
        width: 100%;
        height: 100%;
        margin-left: 150px;
        padding: 0;

        .header-container {
            display: block;
            position: relative;
            width: 100%;
            height: 200px;
            margin-top: -3em;
            margin-bottom: 1em;
            padding: 0;

            img {
                position: absolute;
                width: 100%;
                height: 200px;
                object-fit: cover;
                z-index: -2;
            }
    
            .headeroverlay {
                background: white;
                position: absolute;
                width: 100%;
                height: 200px;
                opacity: 50%;
                z-index: -1;
            }

            h1 {
                color: white;
                padding-top: .5em;
                text-align: center;
                font-size: 4em;
                text-shadow: 2px 2px 2px black;
            }

            h2 {
                color: white;
                margin-top: -1.5em;
                text-align: center;
                font-size: 2em;
                text-shadow: 2px 2px 2px black;
            }
        }

        .aboutme-container {
            display: flex;
            position: relative;
            justify-content: center;
            width: 100%;
            height: 250px;
            padding-bottom: 1em;
            margin-bottom: 1em;

            .textboxes {
                display: flex;
                width: 90%;
                height: auto;
                text-align: justify;
                margin-bottom: 1em;

                span {
                    font-weight: bold;
                    color: var(--textcolor);
                }

                .experience {
                    padding: 0 1.25em;
                    margin-bottom: .5em;
                }
                .skillset {
                    border-left: 1px solid var(--textcolor);
                    border-right: 1px solid var(--textcolor);
                    padding: 0 1.25em;
                    margin-bottom: .5em;
                }
                .goals {
                    padding: 0 1.25em;
                    margin-bottom: .5em;
                }
            }
        }

        .portfolio-container {
            display: block;
            background: var(--primarycolor);
            width: auto;
            height: 600px;
            text-align: center;

            a {
                text-decoration: none;
                color: white;
                padding: 0;
                text-shadow: 2px 2px 2px black;
                font-size: 1.25em;
            }

            img {
                border-radius: 10px;
                width: 350px;
                height: 450px;
            }

            h2 {
                color: white;
                font-size: 2em;
                text-shadow: 2px 2px 2px black;
                padding-top: .5em;
                margin-top: .5em;
            }

            .carousel {
                position: relative;
                width: 350px;
                height: 450px;
                margin: auto;
            }
            
            .carousel-image {
                width: 100%;
                height: 100%;
            }
            
            .carousel-track-container {
                height: 100%;
                position: relative;
                overflow: hidden;
            }
            
            .carousel-track {
                padding: 0;
                margin: 0;
                list-style: none;
                position: relative;
                height: 100%;
                transition: transform 250ms ease-in;
            }
            
            .carousel-slide {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 100%;
            }
            
            .carousel-button {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border: 0;
                font-size: 40px;
                font-weight: 900;
                cursor: pointer;
                background: transparent;
            }
            
            .carousel-button-left {
                left: -40px;
                color: white;
                text-shadow: 2px 2px 2px black;
            }
            
            .carousel-button-right {
                right: -40px;
                color: white;
                text-shadow: 2px 2px 2px black;
            }
            
            .carousel-nav {
                display: flex;
                justify-content: center;
                padding: 10px 0;
            }
            
            .carousel-indicator {
                border: 0;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background-color: rgba(0,0,0,.3);
                margin: 0 12px;
                cursor: pointer;
            }
            
            .carousel-indicator.current-slide {
                background-color: white;
            }
            
            .is-hidden {
                display: none
            }
        }

        .contact-section {
            display: block;

            p {
                color: var(--textcolor);
                font-weight: bold;
                margin-left: 5em;
            }
        }
        .contactme-container {
            display: flex;
            width: 100%;
            height: 300px;
            justify-content: center;

            form {
                display: block;
                width: 50%;
                margin-left: 5em;
                margin-right: .5em;
    
                input {
                    display: block;
                    width: 600px;
                    height: 20px;
                    margin-bottom: 1em;
                    padding: .5em;
                    border: 1px solid var(--textcolor);
                }
    
                textarea {
                    display: block;
                    width: 600px;
                    height: 100px;
                    padding: .5em;
                    border: 1px solid var(--textcolor);
                }
    
                button {
                    display: block;
                    background: var(--textcolor);
                    color: white;
                    font-weight: bold;
                    padding: .5em;
                    width: 100px;
                    letter-spacing: 2px;
                    margin-top: 1em;
                    border-radius: 5px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            
            .socialmedia-container {
                display: grid;
                gap: 0;
                text-align: center;
                width: 50%;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
    
                p {
                    display: none;
                }
    
                a {
                    text-decoration: none;
                    font-size: 1.5em;
                }
            }
        }

        footer {
            bottom: 0;
            width: 100%;
            height: 25px;
        
            p {
                color: var(--textcolor);
                margin: 0;
                padding: 0;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 1260px) {
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .outermost-container {
        display: block;
        width: 100%;
        height: 100%;
        margin: auto;
        justify-content: center;
        align-content: center;
        align-items: center;
    
        .leftsidebar-container {
            display: none;
            position: absolute;
            border: none;
            width: 0px;
            height: 25%;
            z-index: 999;
            margin-top: 1em;
    
            ul {
                padding-top: 0;
                margin: 0;
                width: 0px;
            }
    
            a {
                text-decoration: none;
                color: var(--textcolor);
                font-weight: bold;
                font-size: 1.25em;
                width: 0px;
            }
    
            li {
                list-style-type: none;
                padding-top: .25em;
                width: 0px;
            }
        }
    
        .maincontent-container {
            display: block;
            width: 100%;
            height: 100%;
            margin-top: 3em;
            margin-left: 0;

            .mobile-header {
                display: block;
                position: fixed;
                width: 50%;
                height: 31%;
                margin-left: 1em;
                margin-top: 1.5em;
                z-index: 999;

                #mobile-menu-btn {
                    width: 25px;
                    height: 30px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .mobile-menu-popup {
                    display: none;
                    position: fixed;
                    background: var(--primarycolor);
                    margin-top: -.5em;
                    width: 100px;
                    height: 180px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                }

                .mobile-menu-content {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding: 1em;

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        text-shadow: 2px 2px 2px black;
                    }

                    #mobile-exit-btn {
                        display: flex;
                        margin-left: 1.5em;
                        margin-top: 1em;
                        width: 15px;
                        height: 15px;
                        box-shadow: 2px 2px 2px var(--textcolor);

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
    
            .header-container {
                display: block;
                position: relative;
                width: 100%;
                height: auto;

                .headerbackground-image {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -2;
                }
        
                .headeroverlay {
                    background: white;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 50%;
                    z-index: -1;
                }
    
                h1 {
                    color: white;
                    padding-top: .5em;
                    text-align: center;
                    font-size: 2em;
                    text-shadow: 2px 2px 2px black;
                }
    
                h2 {
                    color: white;
                    margin-top: -1em;
                    padding-bottom: 1em;
                    text-align: center;
                    font-size: 1em;
                    text-shadow: 2px 2px 2px black;
                }

                .profilepic {
                    display: none;
                }
            }
    
            .aboutme-container {
                display: block;
                width: 100%;
                height: auto;
    
                .textboxes {
                    display: block;
                    width: 90%;
                    height: auto;
                    margin-left: 1.5em;
    
                    span {
                        font-weight: bold;
                        color: var(--textcolor);
                    }
    
                    .experience {
                        padding: 0 1.25em;
                        height: auto;
                    }
                    .skillset {
                        border: none;
                        padding: 0 1.25em;
                        height: auto;
                    }
                    .goals {
                        padding: 0 1.25em;
                        height: auto;
                        margin-bottom: 1em;
                    }
                }
            }

            .portfolio-container {
                display: block;
                background: var(--primarycolor);
                width: auto;
                height: 600px;
                text-align: center;
    
                a {
                    text-decoration: none;
                    color: white;
                    padding: 0;
                    text-shadow: 2px 2px 2px black;
                    font-size: 1.25em;
                }
    
                img {
                    border-radius: 10px;
                    width: 350px;
                    height: 450px;
                }
    
                h2 {
                    color: white;
                    font-size: 2em;
                    text-shadow: 2px 2px 2px black;
                    padding-top: .5em;
                    margin-top: .5em;
                }
    
                .carousel {
                    position: relative;
                    width: 350px;
                    height: 450px;
                    margin: auto;
                }
                
                .carousel-image {
                    width: 100%;
                    height: 100%;
                }
                
                .carousel-track-container {
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                }
                
                .carousel-track {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    position: relative;
                    height: 100%;
                    transition: transform 250ms ease-in;
                }
                
                .carousel-slide {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                }
                
                .carousel-button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 0;
                    font-size: 40px;
                    font-weight: 900;
                    cursor: pointer;
                    background: transparent;
                }
                
                .carousel-button-left {
                    left: -40px;
                    color: white;
                    text-shadow: 2px 2px 2px black;
                }
                
                .carousel-button-right {
                    right: -40px;
                    color: white;
                    text-shadow: 2px 2px 2px black;
                }
                
                .carousel-nav {
                    display: flex;
                    justify-content: center;
                    padding: 10px 0;
                }
                
                .carousel-indicator {
                    border: 0;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    background-color: rgba(0,0,0,.3);
                    margin: 0 12px;
                    cursor: pointer;
                }
                
                .carousel-indicator.current-slide {
                    background-color: white;
                }
                
                .is-hidden {
                    display: none
                }
            }
    
            .contact-section {
                display: block;
                width: 100%;

                p.contact-title {
                    color: var(--textcolor);
                    font-weight: bold;
                    margin: 0;
                    margin-top: 1em;
                    text-align: center;
                }

                form {
                    display: block;
                    width: 100%;
                    margin: auto;
        
                    input {
                        display: block;
                        width: 95%;
                        height: 20px;
                        border: 1px solid var(--textcolor);
                        margin: auto;
                        margin-top: .5em;
                    }
        
                    textarea {
                        display: block;
                        width: 95%;
                        height: 100px;
                        border: 1px solid var(--textcolor);
                        margin: auto;
                        margin-top: .5em;
                    }
        
                    button {
                        display: block;
                        background: var(--textcolor);
                        color: white;
                        font-weight: bold;
                        width: 100px;
                        letter-spacing: 2px;
                        border-radius: 5px;
                        margin: auto;
                        margin-top: 1em;
                        margin-bottom: 2em;
    
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                
                .socialmedia-container {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    width: 100%;
                    margin-top: 21em;
                    gap: 25px;
        
                    a {
                        text-decoration: none;
                        text-align: center;
                        font-size: 1.5em;
                    }
                }
            }
    
            footer {
                bottom: 0;
                width: 100%;
                height: 25px;
            
                p {
                    color: var(--textcolor);
                    margin: 0;
                    margin-top: 10em;
                    padding: 0 0 .5em 0;
                    text-align: center;
                }
            }
        }
    }    
}