@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --backgroundcolor: rgb(22, 22, 22);
    --primarycolor: rgb(37, 21, 48);
    --secondarycolor: rgb(165, 111, 162);
    --accentcolor: rgb(209, 7, 199);
    --primarytextcolor: rgba(255, 255, 255, .90);
    --secondarytextcolor: rgba(255, 255, 255, .95);
    --primarylinkcolor: rgba(255, 255, 255, .95);
    --secondarylinkcolor: rgba(255, 255, 255, .95);
}

::placeholder {
    color: var(--primarycolor);
    text-transform: uppercase;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: var(--primarytextcolor);
    background-color: var(--backgroundcolor);
    scroll-behavior: smooth;
}

img {
    max-width: 95%;
}

img.computer-desk {
    opacity: 0;
}

img.logo {
    max-width: 30px;
    max-height: 40px;
    border: 2px solid var(--secondarycolor);
    border-radius: 50%;
    margin: .25em auto;
}

img.logo:hover {
    position: absolute;
    z-index: 500;
    transform: scale(7); 
    margin-top: 8em;
}

video {
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: left;
    opacity: 75%;
    box-shadow: -2px -2px 2px white,
                2px 2px 2px var(--secondarycolor);
}

header {
    max-width: 100%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 2.5rem;
}

h2 {
    color: var(--secondarycolor);
    text-transform: uppercase;
    font-size: 1.75rem;
}

h3 {
    color: white;
    padding: 0;
    font-size: 1.25rem;
}

.container-nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primarycolor);
    color: var(--primarytextcolor);
    padding: 0 1em;
    margin-bottom: 1em;
}

.container-nav-menu {
    padding-right: .5em;
}

.menu-links {
    display: flex;
    justify-content: space-evenly;
}

.container-nav-logo {
    display: none;
}

.container-nav-icons {
    padding-left: .5em;
}

.container-nav-bar {
    margin-bottom: 3em;
}

.container-nav-bar li, a {
    list-style: none;
    text-decoration: none;
    color: var(--primarytextcolor);
    padding: .5em;
}

.container-nav-bar a:hover,
.container-nav-bar a:focus {
    color: var(--accentcolor);
    transition: color 250ms ease;
}

.container-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.container-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    max-width: 400px;
    margin: 2em;
}

.hero-greeting {
    order: 1;
    text-transform: uppercase;
}

.hero-name {
    order: 2;
    width: 100%;
    text-align: center;
}

.hero-name span {
    color: var(--secondarycolor);
}

.hero-text {
    order: 3;
    padding-bottom: 1em;
    max-width: 100%;
    text-align: center;
    letter-spacing: 1.75px;
}

.hero-btn-link {
    order: 4;
    background-color: var(--secondarycolor);
    color: var(--primarytextcolor);
    border: 3px solid white;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    padding: .5em 1em;
    margin-bottom: 2em;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
    background: var(--accentcolor);
    color: var(--primarycolor);
    font-weight: 700;
    transition: background 250ms ease;
}

.container-page-divider {
    background-image: url(../images/computerdesk.jpg), linear-gradient(to left, var(--secondarycolor) 15%, var(--accentcolor));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 100px;
    margin-bottom: 3em;
}

.container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
    margin: auto;
}

.description {
    margin-bottom: 2em;
}

.embedded-link {
    list-style: none;
    text-decoration: underline;
    text-decoration-color: var(--accentcolor);
    padding: .5em;
}

.embedded-link:hover,
.embedded-link:focus {
    color: var(--accentcolor);
    text-decoration: underline;
    transition: color 250ms ease;
}

.container-contact-portfolio {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container-contact {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 400px;
    margin: 0 auto 3em;
}

.container-contact-form input, textarea, button {
    width: 100%;
    margin-bottom: .25em;
    padding-left: .25em;
}

.container-contact-form input, textarea {
    background: linear-gradient(to left, var(--accentcolor), var(--secondarycolor) 30%, white);
    color: var(--primarycolor);
    font-size: 1rem;
    font-weight: 700;
}

.container-contact input {
    height: 25px;
}

.container-contact textarea {
    height: 200px;
    padding-top: .25em;
}

.container-contact-form button {
    background-color: var(--secondarycolor);
    color: var(--primarytextcolor);
    border: 3px solid white;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 700;
    vertical-align: middle;
    padding: .5em 1em;
    margin-bottom: 1em;
}

.container-contact-form button:hover,
.container-contact-form button:focus {
    background: var(--accentcolor);
    color: var(--primarycolor);
    font-weight: 700;
    transition: background 250ms ease;
    cursor: pointer;
}

.container-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: 600px;
    border: 1px solid var(--accentcolor);
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;

    .portfolio-title {
        text-align: center;
        margin-bottom: .5em;
    }

    .carousel {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 5em;

        p {
            font-size: 1rem;
            margin: .5em auto 2em;
            padding-right: .5em;
            width: 100%;
        }

        a {
            background-color: var(--accentcolor);
            color: var(--primarycolor);
            font-weight: 700;
            text-transform: uppercase;
            border: 2px solid var(--primarycolor);
            border-radius: 5px;
        }

        a:hover, a:focus {
            color: white;
        }
    
        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            margin: 2em auto;
        }

        .carousel-nav-buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
        }

        .carousel-button {
            border: 0;
            font-size: .75rem;
            font-weight: 900;
            cursor: pointer;
            background: transparent;
        }
        
        .carousel-button-left {
            left: -10em;
            color: var(--accentcolor);
            text-shadow: 2px 2px 2px black;
            margin: 0;
            padding: 0;
        }
        
        .carousel-button-right {
            right: -10em;
            color: var(--accentcolor);
            text-shadow: 2px 2px 2px black;
            margin: 0;
            padding: 0;
        }

        .container-portfolio-btn {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .portfolio-btn {
            padding: .25em 1em;
            margin-right: 1em;
            border: none;
        }
        
        .carousel-track-container {
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        
        .carousel-track {
            height: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;
            transition: transform 250ms ease-in;
        }
        
        .carousel-slide {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
        
        .carousel-nav {
            display: flex;
            justify-content: center;
            padding: 10px 0;
            margin-top: 1em;
        }
        
        .carousel-indicator {
            border: 0;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            background-color: var(--accentcolor);
            margin: 0 12px;
            cursor: pointer;
        }
        
        .carousel-indicator.current-slide {
            background-color: white;
        }
        
        .is-hidden {
            display: none
        }
    }
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primarycolor);
    color: var(--primarytextcolor);
    margin-bottom: .5em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;

    .fa {
        text-align: center;
        padding-right: .5em;
    }
}

.container-footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-footer-icons a {
    text-decoration: none;
    color: var(--primarytextcolor);
    padding: .5em;
}

.container-footer-icons a:hover,
.container-footer-icons a:focus {
    color: var(--accentcolor);
    transition: color 250ms ease;
}

@media (min-width: 460px) {
    .container-nav-bar {
        flex-direction: row;
    }

    .container-hero {
        margin-left: 0;
    }

    .hero-text {
        text-align: justify;
    }

    .container-about {
        width: 400px;
        text-align: left;
        margin: auto;
    }

    .container-portfolio {
        margin: 0 auto 3em;
    }
}

@media (min-width: 870px) {
    video {
        max-width: 350px;
        height: 300px;
        margin: 0;
        padding: 0;
    }

    .container-nav-bar {
        margin-bottom: 3em;
    }

    .container-nav-logo {
        display: flex;
    }

    .container-hero {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 3em;
    }
    
    .container-hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 85%;
        max-width: 400px;
        margin-top: 0 auto;
        padding: 0;
    }

    .container-page-divider {
        max-height: 300px;
        margin-bottom: 3em;
    }

    .container-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
        margin: 0 auto 1em;
    }
    
    .container-about {
        order: 1;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2em;
        padding: 0 1em;
    }

    .container-text {
        padding: 0 1em;
        margin: 0 auto;
    }

    .container-contact-portfolio, .container-contact {
        order: 2;
    }

    .container-contact-portfolio {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 2em;
        padding: 0 2em;
    }

    .container-contact {
        margin-left: 0%;
    }

    .container-contact input, textarea, button {
        margin: 0;
    }

    .container-contact input {
        height: 50px;
    }

    .container-contact textarea {
        height: 400px;
    }

    .container-portfolio {
        order: 3;
        margin: 0 1em;
    }
}

@media (min-width: 1085px) {
    video {
        max-width: 500px;
    }
}

@media (min-width: 1245px) {
    video {
        margin-right: 4em;
    }

    .container-main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        width: 95%;
    }

    .container-about {
        flex-direction: column;
        width: 100%;
        max-width: 425px;
        padding: 0;
        margin: 0;
    }

    .container-contact-portfolio {
        width: 60%;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    .container-contact {
        margin: 0 2em 0 0;
        padding: 0;
        max-width: 400px;
    }
}

.gotop-btn {
    position: fixed;
    display: block;
    z-index: 999;
    text-align: center;
    text-decoration: none;
    background-color: var(--secondarycolor);
    opacity: 50%;
    color: white;
    right: 5px;
    bottom: 5px;
    transition-duration: 500ms;
    padding: .2em;
}

