@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --backgroundcolor: rgb(22, 22, 22);
  --primarycolor: rgb(37, 21, 48);
  --secondarycolor: rgb(165, 111, 162);
  --accentcolor: rgb(209, 7, 199);
  --primarytextcolor: rgba(255, 255, 255, .90);
  --secondarytextcolor: rgba(255, 255, 255, .95);
  --primarylinkcolor: rgba(255, 255, 255, .95);
  --secondarylinkcolor: rgba(255, 255, 255, .95);
}

::-webkit-input-placeholder {
  color: var(--primarycolor);
  text-transform: uppercase;
}

:-ms-input-placeholder {
  color: var(--primarycolor);
  text-transform: uppercase;
}

::-ms-input-placeholder {
  color: var(--primarycolor);
  text-transform: uppercase;
}

::placeholder {
  color: var(--primarycolor);
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--primarytextcolor);
  background-color: var(--backgroundcolor);
  scroll-behavior: smooth;
}

img {
  max-width: 95%;
}

img.computer-desk {
  opacity: 0;
}

img.logo {
  max-width: 30px;
  max-height: 40px;
  border: 2px solid var(--secondarycolor);
  border-radius: 50%;
  margin: .25em auto;
}

img.logo:hover {
  position: absolute;
  z-index: 500;
  -webkit-transform: scale(7);
          transform: scale(7);
  margin-top: 8em;
}

video {
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  opacity: 75%;
  -webkit-box-shadow: -2px -2px 2px white, 2px 2px 2px var(--secondarycolor);
          box-shadow: -2px -2px 2px white, 2px 2px 2px var(--secondarycolor);
}

header {
  max-width: 100%;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 2.5rem;
}

h2 {
  color: var(--secondarycolor);
  text-transform: uppercase;
  font-size: 1.75rem;
}

h3 {
  color: white;
  padding: 0;
  font-size: 1.25rem;
}

.container-nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--primarycolor);
  color: var(--primarytextcolor);
  padding: 0 1em;
  margin-bottom: 1em;
}

.container-nav-menu {
  padding-right: .5em;
}

.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-nav-logo {
  display: none;
}

.container-nav-icons {
  padding-left: .5em;
}

.container-nav-bar {
  margin-bottom: 3em;
}

.container-nav-bar li, a {
  list-style: none;
  text-decoration: none;
  color: var(--primarytextcolor);
  padding: .5em;
}

.container-nav-bar a:hover,
.container-nav-bar a:focus {
  color: var(--accentcolor);
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.container-hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  max-width: 400px;
  margin: 2em;
}

.hero-greeting {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-transform: uppercase;
}

.hero-name {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  text-align: center;
}

.hero-name span {
  color: var(--secondarycolor);
}

.hero-text {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding-bottom: 1em;
  max-width: 100%;
  text-align: center;
  letter-spacing: 1.75px;
}

.hero-btn-link {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  background-color: var(--secondarycolor);
  color: var(--primarytextcolor);
  border: 3px solid white;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  padding: .5em 1em;
  margin-bottom: 2em;
}

.hero-btn-link:hover,
.hero-btn-link:focus {
  background: var(--accentcolor);
  color: var(--primarycolor);
  font-weight: 700;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
}

.container-page-divider {
  background-image: url(../images/computerdesk.jpg), -webkit-gradient(linear, right top, left top, color-stop(15%, var(--secondarycolor)), to(var(--accentcolor)));
  background-image: url(../images/computerdesk.jpg), linear-gradient(to left, var(--secondarycolor) 15%, var(--accentcolor));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-height: 100px;
  margin-bottom: 3em;
}

.container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  text-align: center;
  margin: auto;
}

.description {
  margin-bottom: 2em;
}

.embedded-link {
  list-style: none;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--accentcolor);
          text-decoration-color: var(--accentcolor);
  padding: .5em;
}

.embedded-link:hover,
.embedded-link:focus {
  color: var(--accentcolor);
  text-decoration: underline;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.container-contact-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin: 0;
}

.container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  max-width: 400px;
  margin: 0 auto 3em;
}

.container-contact-form input, textarea, button {
  width: 100%;
  margin-bottom: .25em;
  padding-left: .25em;
}

.container-contact-form input, textarea {
  background: -webkit-gradient(linear, right top, left top, from(var(--accentcolor)), color-stop(30%, var(--secondarycolor)), to(white));
  background: linear-gradient(to left, var(--accentcolor), var(--secondarycolor) 30%, white);
  color: var(--primarycolor);
  font-size: 1rem;
  font-weight: 700;
}

.container-contact input {
  height: 25px;
}

.container-contact textarea {
  height: 200px;
  padding-top: .25em;
}

.container-contact-form button {
  background-color: var(--secondarycolor);
  color: var(--primarytextcolor);
  border: 3px solid white;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: middle;
  padding: .5em 1em;
  margin-bottom: 1em;
}

.container-contact-form button:hover,
.container-contact-form button:focus {
  background: var(--accentcolor);
  color: var(--primarycolor);
  font-weight: 700;
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
  cursor: pointer;
}

.container-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 600px;
  border: 1px solid var(--accentcolor);
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
}

.container-portfolio .portfolio-title {
  text-align: center;
  margin-bottom: .5em;
}

.container-portfolio .carousel {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 5em;
}

.container-portfolio .carousel p {
  font-size: 1rem;
  margin: .5em auto 2em;
  padding-right: .5em;
  width: 100%;
}

.container-portfolio .carousel a {
  background-color: var(--accentcolor);
  color: var(--primarycolor);
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid var(--primarycolor);
  border-radius: 5px;
}

.container-portfolio .carousel a:hover, .container-portfolio .carousel a:focus {
  color: white;
}

.container-portfolio .carousel img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  margin: 2em auto;
}

.container-portfolio .carousel .carousel-nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.container-portfolio .carousel .carousel-button {
  border: 0;
  font-size: .75rem;
  font-weight: 900;
  cursor: pointer;
  background: transparent;
}

.container-portfolio .carousel .carousel-button-left {
  left: -10em;
  color: var(--accentcolor);
  text-shadow: 2px 2px 2px black;
  margin: 0;
  padding: 0;
}

.container-portfolio .carousel .carousel-button-right {
  right: -10em;
  color: var(--accentcolor);
  text-shadow: 2px 2px 2px black;
  margin: 0;
  padding: 0;
}

.container-portfolio .carousel .container-portfolio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.container-portfolio .carousel .portfolio-btn {
  padding: .25em 1em;
  margin-right: 1em;
  border: none;
}

.container-portfolio .carousel .carousel-track-container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container-portfolio .carousel .carousel-track {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.container-portfolio .carousel .carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.container-portfolio .carousel .carousel-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  margin-top: 1em;
}

.container-portfolio .carousel .carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--accentcolor);
  margin: 0 12px;
  cursor: pointer;
}

.container-portfolio .carousel .carousel-indicator.current-slide {
  background-color: white;
}

.container-portfolio .carousel .is-hidden {
  display: none;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--primarycolor);
  color: var(--primarytextcolor);
  margin-bottom: .5em;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.container-footer .fa {
  text-align: center;
  padding-right: .5em;
}

.container-footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-footer-icons a {
  text-decoration: none;
  color: var(--primarytextcolor);
  padding: .5em;
}

.container-footer-icons a:hover,
.container-footer-icons a:focus {
  color: var(--accentcolor);
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

@media (min-width: 460px) {
  .container-nav-bar {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container-hero {
    margin-left: 0;
  }
  .hero-text {
    text-align: justify;
  }
  .container-about {
    width: 400px;
    text-align: left;
    margin: auto;
  }
  .container-portfolio {
    margin: 0 auto 3em;
  }
}

@media (min-width: 870px) {
  video {
    max-width: 350px;
    height: 300px;
    margin: 0;
    padding: 0;
  }
  .container-nav-bar {
    margin-bottom: 3em;
    padding-left: 8em;
    padding-right: 10em;
  }
  .container-nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 3em;
  }
  .container-hero-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 85%;
    max-width: 400px;
    margin-top: 0 auto;
    padding: 0;
  }
  .container-page-divider {
    max-height: 300px;
    margin-bottom: 3em;
  }
  .container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
    margin: 0 auto 1em;
  }
  .container-about {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 2em;
    padding: 0 1em;
  }
  .container-text {
    padding: 0 1em;
    margin: 0 auto;
  }
  .container-contact-portfolio, .container-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container-contact-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2em;
    padding: 0 2em;
  }
  .container-contact {
    margin-left: 0%;
  }
  .container-contact input, textarea, button {
    margin: 0;
  }
  .container-contact input {
    height: 50px;
  }
  .container-contact textarea {
    height: 400px;
  }
  .container-portfolio {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 1em;
  }
}

@media (min-width: 1085px) {
  video {
    max-width: 500px;
  }
}

@media (min-width: 1245px) {
  video {
    margin-right: 0;
  }
  .container-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 95%;
  }
  .container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 425px;
    padding: 0;
    margin: 0;
  }
  .container-contact-portfolio {
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .container-contact {
    margin: 0 2em 0 0;
    padding: 0;
    max-width: 400px;
  }
}

.gotop-btn {
  position: fixed;
  display: block;
  z-index: 999;
  text-align: center;
  text-decoration: none;
  background-color: var(--secondarycolor);
  opacity: 50%;
  color: white;
  right: 5px;
  bottom: 5px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  padding: .2em;
}
/*# sourceMappingURL=style.css.map */